body {
    margin: 0;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#room-0 {
    background-image: url('./assets/rooms/room.jpg');
    background-size: 100vw 100vh; /* Ajuste la taille du background en fonction de la taille de la fenêtre */
    width: 100%;
    height: 100%;
}

.interactive-object {
    position: absolute;
 /* Ajuste la taille en pourcentage selon tes besoins */
    /*background-color: rgba(228, 228, 228, 0.322); /* Ajuste la couleur selon tes besoins */
    cursor: pointer;
    /*border: 1px solid black;*/
}

#room-0-obj1 {
    width: 10%; 
    height: 10%;
    left: 65%;
    top: 45%;
}

#room-0 #object2 {
    width: 10%;
    height: 20%;
    left: 30%;
    top: 30%;
}

/* Ajoute plus d'objets interactifs selon tes besoins */
