/* style.css */

body {
    margin: 0;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.room {
    position: absolute;
    width: 100%;
    height: 100%;
}

.interactive-object {
    position: absolute;
    cursor: pointer;
   /* border: 1px solid black;
    /* Ajoutez d'autres styles communs aux objets interactifs */
}

.back-arrow{
    font-size: 5em!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-weight: bold;
    margin: 0;
}
